// === Font Imports ===
@font-face {
  font-family: 'Atari ST 8x16 System Font';
  src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAABZkAA4AAAAAh4AAABYHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGiYGYACHZggEEQgKgeo0gcl0C4QEAAE2AiQDhAoEIAWHVQeIYRtBdHWGHGwcAHD9CrMRFWwcgAjZ9lFRskn17P//mqDGEdXyU3TgNajIaElGuPDT6svhKnys5ed2p0TdtW3YRc7fw28sORJanphupo8OV1FIXjv8zlR1UbGQgYTex56+alsojGa6FZZWn439LHH111OGphmaPr1lpRg3j8j+x2hMPJNLBK1FVs/M7gOhInLAmoTB/U9UFLKPREKJwiBfAgTQ+X3TdK4ioXQ5pUopo5SbF96hUZpEJLIfsHCjlL5KG8DDjFL66Zy3S7BRmqtEbgfnlvOuZkAk41xvYgIVcybFdcv/3zglzrYjyOC4WrqQgslgv4AC/zfpxMLgIBAIHBQOHg4KgUJgUCwMhsMBDlz2aipVDpls+HbbeT4RZk5CJ8gxzzckc5IapnfcA8uDaXvvxaN7PrH6URTC5O6bj0IYLQL+XHuzP7/EspJSYCMqXJ1J0sxbSAlwfLo7HQAQmlwdKwDSZSE7FaZzwpxR7ozwZ98vS7HDnKStUYBnAE2oQkRmbNT3t3+dt2bPYXcUUqSu+u+/N3Ojmb24p1UKyCEVN4zcmLkMgWwkaGzADF81/cTZzhQchapf7SiHBKAJ1uzrmR92L0kmEJyJagfSWg8m+WFSE5EFlFvX0uVCvFJJmAxpSFZkcMVNueuPr33P5F+7w/Eddpjvm6mIiIiKiIqKTmNaDXEnufvq1uwNaUQIzYrSFGJhT4TA1/2qM+CDdxcdMXdbertgImZbrIiEaPizYLBzq0vzq442tR3Ft7B95UBuoujHUY5juBVnOnhq/+AVWfpAd+4IV3fneofLLvXK9giWCqoUCy0v+VLk/jlbXsF8U1Xj3e5Od3vc05432sg5lnNz8dIHRiPA17rXk571cg7n6ML+IlL+qUb//++//3r361/1MoqYTxVE/df8P8Az1jjjTTDRJJMVU0w1zXQzzDTLbHPMNc98UwEgBCMohrPYHC6PLxCKxBKpTK5QqtQarU5vMJrMFqvNDoDAECgMjkCi0BgsDk8gksgUKo3OYLLYHC6PLxCKxBKpTK5QqtQarU5vMJrMFqvN7nC63B6vz8+fhJSMnIKSipqGlo6egZGJmYWVjZ2Dk4ubh5ePX0BQSFhEVEwcZIyHzOZX6OoZGFnZdujMqXOXLly5cefWvQdPHj178ebDu0/fvvz72a9+w0OLbZOAx53IS4H2L9sFPPwLGFIFf+89aoBv/HpGVBYA3KsOuFVTxxaN/vI3oB8X/9N/BLg+4bbPm3nOile95W3veNMHPsT7PveFzwJGeBC8/db6R0YNSDaUsskPrLsGbfwNsBLrFFNFNEVRlTy64T6bkig0pqoCCbwCPTg8ZR+SrNOYyHRyrPk4hT52/KJjx9HWFfRISafR+U2dJ/j3EgCC46vVtXEAMoZzPw/pVkcPRpJAYITGVx6JsUzEslIGmGmY75naA+rAMb/3qZNVAitIMCodyplAGQS4cVOcq9rkVcYTUTb3sAD3Z8+o64Vl6tcqmBYt/IJAr5ob6euuOCx6qlYZ466pHh3pbHhHVBaeO0RNs8SUuRnLc1oVpPqhqq2EJhK1NzPJlq2usMf8CSCQVTE8mezaladTUWy3gT2ZR3/V2V+koHbbywGCRU73wYc5BHOwKpmymqrEOKnoSiIqoodpBelMO9T05RD9JFhYZFnMJn2Wo4sxNoEa8xQVZ6MauUWIE45YD0qMGgSHPq3mr+Vl3bSypIj7J8pfZBl0nwx9S/S07dTpkCvGpKl3hd6jew9yU5YxZg+ypCHdHlASZjtdCX1pOTdzV40O1atKWpVSq5duv3V51dNLGb0GJ/hfv+GKkWQRtmr6v9gVDQWGe2vaYeRmpHBX3T8CUjtqKnX5ic6KAtbq5CoozNokNVpKqh67yyfLjMEfKJ9C5M110fmF0Tzhm0d3ookkXMVNKLCWhSEGsTGGv7gEDaAYnaM+SmTIOPG66FHiO7HeSVRo5Ke0KHZTxJl3bt/4IyyQEMjGFZFm+I5KGcVZJh9w8mjGnHU+39ZItcfIO9N6iFhVPAqETXhnAhF1HtPzVOmYF3yTY365hfWF3pmt2GcVkRU0AEiUq7NzRFMzR8GNEOsMJVXeWJfvC/c6kr/n7qWt2onwrje3gp6N8lQtKvQvACK8YJBK6qgu+zCGv76xYz/YXqKOq3jMNznvfoWZ0HUVePLSvZN0nu+I7JSSAtI0XKo1+P5GRGVi3yaJzDGDlZaCwToKVcwu9LD0n+JlJcKoP+EcSa5raGq2o/hZkg48xpDWIhYpRcM4vZZJ6K2sAvnm8zWfwGq4VEq8LwuCVUV7R70+cBmJemgNqvnCbCs0UBOf8BQEn1VgfBXgLGZtirTeJItyFY0V73m+OoawWcAbXZWqUvgx3cKqB5t8rqB2TTKTAz5vUuI7JFfBn9Bo74DLwAoDiRhTBIm5cWGx5Nr4m6aueoiyZHR99faYJCIE5GI2LKMK0RH4K2LQ673FFsFykhAi6wbDkNMdJuT3xWoP0hdwi7OiQus4wGZLtbIEc07eyuNiHWjiPL9Sd4gM6Re+8G0DJPdsXFy5MJM25EQkxHyZ97w9193XKevz6b3feDXwg71csCfj/eOGV/imzr6385mZUX65msdYUjH5UcVZwcod1ONuP0E6SXxAZ6ikAsd0ZbY60As19fWJ3NbP+PiccH1lJEaZjxZX3BljtD6/J2Ywx/IrHzA2n7V6YOTT/UpWOoo7UV21yMmcG8wJd/tOvX9yrh3v9GXb5/cW/TZ8ohot/V/UcaNSd+3qNe1Nu3uitzPAqePo2U+gulAjqs24Au2be+Cp9q+1TzYxUpg3YSTSiuKVtRMWx7PPsaHtlQlc05jCsLCu8BouCPVyc6Z3sluCZ+Nzy3O5i2CkxBKl1KNbLaHezLR/nMvONDqBNDiEaDTX9EKSMuWfhDCKID//7KlitbJQwLdWov6/hQRcHVeonneVREu7obreo1rkuch8zCjp/eVuXB4Mv+Tab46pMg/7RJAYaGbL6y5nyVfJkzrVWBW1WYdqrKAGbeR+0Dz4Zv7Jw7/+3VgljjkJsgHbg/el18rbMX8bUXU2oDeaI+vOF2fqrxIRXO29k3+1N7yahJwp7hWpdlbbe1QJV5CtG6MK8cDfZF0f4lba/unjj2q1mq9MuZ74B5tadMTP0htlijrsPERd5yyrbu0rd7eedZo12mlaHnJ6afYussyKl4ShegQrCGFmre3XvYP/fvYh3aTVU5VC9yz3VDSb+2vq2wkP6OX7CT5yOBka9Y8yG8zDGrU8aTa/+ZDY/BrN81qsSbehMvT37BWIxavjjDudz3zL+zDb9vWU9XDf/nkM8ECe1s+AjVXajPQm3lXXadegvcr8Oj+fU3yYn1W4FeeVPLVmwucDpNgkx0wPYuN1549bq26CYAQ3d0bt0ub54b4k7vNeZ4jv83qqemi9XPb2uxnNtx3lwpauMJ3W1OHEYq8vHLNWFzfAzI5HDfyzi88FzpJxZWUxOdNiRE5r7VNlfy9O+fyuHSGcSynX1J/Xw1vpmW78lhOyOSKfO8Ljn8zqz2x3ofz1vzkn8jGfDbiin3diX/XuzN2Ll35eOpdPxFHyEd33pnw+/1d2OX8G4nkTAqBaVQDtmN2Q7COA2ND/I4q0BfybeJL9V7alADb+HwP8IXKJhCACeC/iPWCmpwAPiwR4mrgMGAPVQeT+e1zERpCsUM1SQJwPucT93K7R9TR3PPBpljUt4j3AeYp08SWgtWj5rWQMsgz6wxFHAQWoK4TcQALkYQfId73dOjl0IGv+BdqxslABjRVfpAIhdD4AqurYjtn7/Sz6unj4nwZPeAsto66hC7r3X1Jsoiyh1xDnR1h0udaP3JKCQINquW8v1TEBxVECbhyLh7vV7XnZ4iGhrG8Gs96R6g1EKskjNOC91j1O/QZ4OB7grA6CwxQPNY13Cu8H7WfeVzeokOvvNIRjxI97P/p5ltgg7x1p8N0AHb52L5M3tPz9JRpHIVMGlhG90fIF2vFrV3HhfWMK7xtozI5RW1pF2z3uusR8gn2Boj/N0aHxS9AJJRYhoNzV0LmTo6aFdTnD6c/a52U6fH2pLVfJsvZFTpUUNMaTt9rkUbWrJdTRrJbRnUw7D8S8wNB8cUQsmmlQb+GhSIe26LUbwR2/TtcF8CGeq6iaAjge1K3TdZCLzziriBRkwDNo3UC1xbT7wTAC9Jlke5jiYWlW1DVHGFSAU3RQy1dcWZYNUVSb3Ml31quXacfKkqESd3MIZ6RpZFe4NV11NRBSIUScY6+0kWQJyGYfZYc8rxXr6bxo3ynuDzsrpAuGRX7kaBhIvuDFx0Pznd5F7td5d3w7iK13fCvH0ZZezzUNQ8eRLTvc+V5px14nUlXfM9LyT3CL0Vh4BtiFUzpspDtAkvIlMnmhah7w+ZTxQP9R8w/UdV2krYKlUjkUHtsxe3/FJoEssABnKICZqyAz6JbhsxD+h2iIcOO5Ij6o9WzROnV7o/BVD7Npar90Y9LUxj+ngpNtitBRYOqqMOy6+uDvKD6ud6uqrOUjgTU6AnFudpW9dvKlatnJ1Kynjgcw3gI4el6daRUb7kVR6Imh8Q4NUb1WnNyLCNL/Y0V7haEb3ft5Mo/TM5nBq7r4g+9KyVqpxTPXat35eBTjuzqa6WiUJX+tLbyv00VktsnGYUccOHh/Rmxb1FgQTIDGUyzlZFArqBE6ty3rsfncB8vfA43jqr+8myIC3vsD4XJc3DlgK8APfEfvrPruEOw0AFq/gY3CrItjdkeSmVADSuSl49zQUDmhAIJSjFBuBlBHTs9BVwc2hyWEv6izy0Qm8AEzZ9kM1JltNlOSHE5rPcBJd850wHE7bdy1a+jyRTgiRuMi7CQgQpx3bf10QZVfB0BlZgZnvWlYykywV9AcZ0PsPNkMedt3eQgLLlv/MaZM1bIeWGEf901WDdK0g7VHO9OGDYNgT4HGiPI7Wh2FuLb4jdzxDeIvDsB6W7u8kTkgU02+a15lfdNEI67MNe/GOZ55UpFRgX6JTFINy7gekjHuYG+MfoHbnQ0WIk0Cn2jM6/Y8nybOv85+1WulVZw2YRnTt0CGXGahopqPeKI96vqAc3c73g9pWW1YAvAyxNMDctffBCvdW6zAW4e+q000bcK7YEOnY8yYIbxUk+Tqlavqy4CbzGxVrnBZIelClffajKscY/V7Wx2h6XWDzew56KMD+dsTd4R6Pal8P015Cz5BOHs4n6erMVG8famuMglaC92QUj38UVOKasAt7FsmrMRZXlnEEFVXuLhTKiUeX/ZY9Xe5SQLzNMva5PrreSLAPQ3gKdx3vIKtTrkk+waKB1orNZxniEf+XsuhedUM3hYzj3tki6Bvv7E64gt1umZD/ijlCenjRJ6cI3gRLJWDDd1vJeQVWGnfXqiMLZUvCxr1ZYT3HSCPHql3ZouWUfxvLyvb29788oz5aWVY06Ft/6OoeoLtmr7oCrOXsnypFiMlqWawVC1/hU06lJGBiMUicXHNhqF5YsHS0rXr1XjqKhzMRBhOR9eTl4lEYIAuqlhfNgijfMDrlvkoJjLWCxQhvWzl69zsmAMTIgBZVhEZiLp3F+mERywHqyQtXNsaR93j0MWpas8Mc/8k7yG0Wsyjgt1hMpMO2q+ffezvuWwLr4nR6xtjGOGAyuao1noLl1C65j0529muyWMAIQdcqYHVtgJjxTczAYd1jzFABzFAlAe/xB/e2wSYWphPLEWWvYtiMcQYga3Pi0FRTKpYDgAI1pULns+5jAkfVA9SQCx16f7CngQX9nWoKG1VffL5aYjXFmCbZKG26KCqA5xVscDOszZcIViLXeuJ0g8u1fpLixM6UYBBwnLvgFTtKgd5IlGmZOJHDGyWKSGqlU4q1VXBqwIWyRk6MmTu021Wc/EPaydMZ5vXqh2Qo5RfNB603YpzKjJUXbgdP0qFmcl3dowuM/etXVZ/2FepNR8jxfQumvE5SlotK/6EbUK+DTcRQFabbcoaJiQWOMtbyfPUi9hoWDFtkrQuvGAh2g+hV1mboHFRdgCHbD0vgh27fdsp523vxxnZgEo5cAtpnjuh+bf6xpnHJfK5FV0Qr1LLhEcLrt16kJ/Th/A8maRJCkD5AX77aoubiSccDw/7iDQRQFZb2UIbthYEtExSTJBFUsmzqrAeyw0boQMo4FFZXqb7Hbo5XR6yChb9YS7baeWp53U/JhKYMMAFprMTFspzarzX45XVRqwtiJUAMQMkKng+Wg8gGo5a2LHWwMPm7ju+GdMRERMr/6sk+WLR1ooeXsr1Fz2+qpxJW9FresrHNKpaSLefy/O+b0CGMvrCeQWACSQR30f5FrwW7xtTRwtrTKV0esnqQMpTztu+lOMoz6G80yjNRXUYXpFDZ2eHWeXRw9k97lF7l9fcJOFhLiunKV1mC2N0wgnGw4M90DHLaBmEJOW20nS9ooD8a4rXkNgsz7ploC4EoyCNzHpAz/H2qEualY2ZdJrJiRMVlO6EK4N581lv3JetF4RO9h9s2FP/VW/QjjPTaghYOuppyVvT2jxk9p9eyB+3Vbm5uqC0LvAd4od/jMqCd4+SaVUlM+sLDkr93qOxfttjY5rvNj3ad182G2rJSfqs1dqRNVl9/m1FsN8chDN/eettvm2/4XC/61hMJzM61aXduRirgHDcJCJWA3WpUFpzta2C4mlZEzCSIQ+LrAEsGUGDeEfGD7G0VSyC2gwGOcMa3sGgDYSMGtRA2rvIhHdYmaAEln2nFGof+RVjfATD2GHcSgAEoXcMxmkozfvN4/16B4zm6yUISWEqKIhgl3WAyR4SwDl+bHHMyw246PMGrjaVjbiZV67Bnanli917s+o0Vdo4fE+LY1NOx8XEPIWrIe/jZlMZcGdpeey5eqvKhEdPhVFBJFQhh1I/qDQZqckWFY6876spNbsIhf7swCq1l4UyCWMJfNSVdJgmW8zg1fsj8fxoKOSjB7nD46cjI0CQxSSxTDvNBsf7Z0ezI7pcqsI7jUbF4bd5m7dk8y56fgMtZZ76fyFHjtUed9bHCtAEhNY29DLyWjYAoBKigSIxdPLFDnbJz2o2ug6j3QXAiTQYxXj68uHo52xnJQCsmWvbeBnAeWj3DtO00Be4Wx5TzXb8ErGPQbgLDHZsF9w7iv9D8c5n9g2xGTfSNAkXTRgBQfslAsO+EfFwVOAqIg5IdcWdszu4k+46uiMZy3jGs9ktqlBjoz8o4golmxSxK4fpdGm35fH6/IIoyYqq6YYJIMKEssO2PfDuF7llO67nB2EUJ2mWF2VVN23XD+M0L+u258iZS4ycgpOSTkBGvKF1hmy9vPmojfNjIigrqmBprggKxgxuDWFhZduGTVteIe3bsasE5YfFkQOH0N590sDCwCHAIwojoSCjomGgY2J5w8bFwSPA1xAhIiQm8eFLS1nFg0dtT54jo/XZkIgxhDKbOwJSaddrv2QRymzuCEilXZPUZAYUi9BwAAAAAICTCwhlNncEpNKu8SJVrzmtwPjKdmpsAAA=') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// === Font Variables ===
$font-body: "Space Mono", monospace;
$font-code: "Space Mono", monospace;
$font-title: 'Atari ST 8x16 System Font', sans-serif;

@import 'syntax';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: $font-body;
  background: url("/assets/img/light.png") repeat;
  background-attachment: fixed;
  font-weight: 400;
  color: #444;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #c000c0;
  }
}

h1:first-child {
  margin-top: 0;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

figure {
  text-align: center;
  margin: 2em 0;

  >img {
    image-rendering: inherit;
    outline: 2px solid black;
  }
}

p {
  >img {
    max-width: 100%;

    &.r {
      float: right;
      padding-left: 16px;
      padding-right: 0;
    }

    &.l {
      float: left;
      padding-right: 16px;
      padding-left: 0;
    }
  }
}

code,
pre {
  background: #ddd;
  font-family: $font-code;
}

code {
  padding: 2px 8px;
}

pre {
  padding: 8px 24px;
  font-size: 15px;
  white-space: pre-wrap;

  code {
    background: none;
    padding: 0;
  }
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 6px 12px;
  }

  th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.container {
  max-width: 850px;
  margin: auto;
}

.box {
  position: relative;
  padding: 2rem 3rem;
  margin: 3rem 0;
  background: #fafafa;
  border: 2px solid black;

  &::after {
    content: "";
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("/assets/img/dark.png") repeat;
    background-attachment: fixed;
  }
}

.title {
  font-family: $font-title;
}

.post-title {
  margin-bottom: 0;
}

.post-title-date {
  margin-top: 0;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .post {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .post-date {
      color: #888;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}

.bg-yellow {
  background: #ffc;
}

.colorize {
  width: fit-content;
  background: linear-gradient(219deg,
      #186cb8 19%,
      transparent 19% 20%,
      #2a9a9f 20% 39%,
      transparent 39% 40%,
      #f1b211 40% 59%,
      transparent 59% 60%,
      #e83611 60% 79%,
      transparent 79% 80%,
      #f9002f 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// === Responsive ===
@media screen and (max-width: 900px) {
  .box {
    margin: 0;
    border: none;
    overflow: hidden;

    &::after {
      width: 0;
      height: 0;
    }
  }

  .container {
    max-width: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}