---
layout: base
---

<div class="container">
  <div class="box">
    <p class="title"><a href="/writing/" class="colorize">./writing/</a></p>
    <h1 class="title post-title">{{ title }}</h1>
    <p class="post-title-date">{{ date | date: "%B %d, %Y" }}</p>
    <hr>
    {{ content }}
  </div>
</div> 